package monologue;

import edu.wpi.first.networktables.NetworkTableInstance;
import edu.wpi.first.networktables.NTSendable;
import edu.wpi.first.wpilibj.smartdashboard.SendableBuilderImpl;
import edu.wpi.first.util.datalog.*;
import monologue.NTIntegerArrayLogEntry;
import edu.wpi.first.util.sendable.Sendable;
import edu.wpi.first.wpilibj.DataLogManager;
import java.util.Arrays;
import java.util.function.Supplier;
import java.util.function.LongConsumer;
import edu.wpi.first.util.struct.Struct;
import java.nio.ByteBuffer;
import java.nio.ByteOrder;

class DataLogger extends GenericLogger {
    private DataLog log = DataLogManager.getLog();

    public DataLogger() {
        super();
        DataLogManager.logNetworkTables(false);
    };

    {%for t in types%}

    @Override
    public void put(String entryName, {{t.java.ValueType}} value, LogLevel level)
    {
        if (level == LogLevel.NOT_FILE_ONLY && Monologue.isFileOnly()) {
            return;
        }
        {%if t.java.ValueType == 'String'%}
        if (value == null) {return;}
        {%endif%}
        {%if t.java.IsArray%}
        if (value == null) {return;}
        {%endif%}
{%if t.TypeName == 'IntegerArray'%}
        new NTIntegerArrayLogEntry(log, "NT:" + entryName)
            .append(toLongArray(value));
{%elif t.TypeName == 'LongArray'%}
        new NTIntegerArrayLogEntry(log, "NT:" + entryName)
        .append(value);
{%else%}
        new {{t.java.EntryName}}LogEntry(log, "NT:" + entryName).append(value);
{%endif%}
    }

    @Override
    public void add{{t.TypeName}}(String entryName,
    {{t.java.Supplier}}valueSupplier,
    LogLevel level)
    {   
        {%if t.TypeName == 'IntegerArray' or t.TypeName == 'LongArray'%}
        var entry = new NTIntegerArrayLogEntry(log, "NT:" + entryName);
{%else %}
        var entry = new {{t.java.EntryName}}LogEntry(log, "NT:" + entryName);
{%endif%}
        LongConsumer consumer;
{%if t.TypeName == 'IntegerArray'%}
        if (this.isLazy()) {
            consumer = new LongConsumer() {
                private long[] lastValue = new long[] {};
                @Override
                public void accept(long timestamp) {
                    var intarr = valueSupplier.get();
                    if (intarr == null) {return;}
                    var value = toLongArray(valueSupplier.get());
                    if (!(Arrays.equals(value, lastValue))) {
                        entry.append(value, timestamp);
                        if (lastValue.length != value.length) {
                            lastValue = new long[value.length];
                        }
                        System.arraycopy(value, 0, lastValue, 0, value.length);
                    }
                }
            };
        } else {
            consumer = (timestamp) -> {
                var value = valueSupplier.get();
                if (value == null) {return;}
                entry.append(toLongArray(value), timestamp);
            };
        }

        addField(
            entryName,
            level,
            consumer
        );
{%elif t.java.IsArray == true%}
        if (this.isLazy()) {
            consumer = new LongConsumer() {
                private {{t.java.ValueType}} lastValue = new {{t.java.ValueType}} {};
                @Override
                public void accept(long timestamp) {
                    var value = valueSupplier.get();
                    if (value == null) {return;}
{%if t.TypeName == 'StringArray'%}
                    if (!(Arrays.deepEquals(value, lastValue))) {
{%else%}
                    if (!(Arrays.equals(value, lastValue))) {
    {%endif%}
                        entry.append(value, timestamp);
                        if (lastValue.length != value.length) {
                            lastValue = new {{t.java.ComponentType}}[value.length];
                        }
                        System.arraycopy(value, 0, lastValue, 0, value.length);
                    }
                }
            };
        } else {
            consumer = (timestamp) -> {
                var value = valueSupplier.get();
                if (value != null) {
                    entry.append(value, timestamp);
                }
            };
        }
        addField(
            entryName,
            level,
            consumer
        );
{%else%}
        if (this.isLazy()) {
            consumer = new LongConsumer() {
                private {{t.java.ValueType}} lastValue = {{t.java.EmptyValue}};
                @Override
                public void accept(long timestamp) {
                    var value = valueSupplier.get();
                    if (value == null) {return;}
                    if (value != lastValue) {
                        entry.append(value, timestamp);
                        lastValue = value;
                    }
                }
            };
        } else {
            consumer = (timestamp) -> {
                var value = valueSupplier.get();
                {%if t.java.ValueType == 'String'%}
                if (value == null) {return;}
                {%endif%}
                entry.append(value, timestamp);
            };
        }

        addField(
            entryName,
            level,
            consumer
        );
{%endif%}
    }
{%endfor%}

    @Override
    public void addSendable(String path, Sendable sendable) {
        if (sendable == null) {
            return;
        }
        var builder = new DataLogSendableBuilder(path);
        sendable.initSendable(builder);
        sendables.add(builder);
    }

    @Override
    public void addSendable(String path, NTSendable sendable) {
        if (sendable == null) {
            return;
        }
        var table = NetworkTableInstance.getDefault().getTable(path);
        var builder = new SendableBuilderImpl();
        builder.setTable(table);
        sendable.initSendable(builder);
        builder.startListeners();
        table.getEntry(".controllable").setBoolean(false);
        sendables.add(builder);
        NetworkTableInstance.getDefault().startEntryDataLog(DataLogManager.getLog(), path, "NT:" + path);
    }


    @Override
    public <R> void addStruct(String entryName, Struct<R> struct, Supplier<? extends R> valueSupplier, LogLevel level) {
        LongConsumer consumer;

        if (this.isLazy()) {
            var entryHandle = log.start("NT:" + entryName, struct.getTypeString(), "", 0);
            log.addSchema(struct, 0);
            int size = struct.getSize();
            consumer = new LongConsumer() {
                private ByteBuffer value1 = ByteBuffer.allocate(size);
                private ByteBuffer value2 = ByteBuffer.allocate(size);
                boolean useValue1 = true; 

                @Override
                public void accept(long timestamp) {
                    var value = valueSupplier.get();
                    if (value == null) {
                        return;
                    }
                    ByteBuffer cur = useValue1 ? value1 : value2;
                    cur.position(0);
                    struct.pack(cur, value);
                    cur.position(0);
                    // checks that the buffer segments written by the struct match.
                    // ByteBuffer equality looks at the content after the position,
                    // so both positions need to be 0 at this point.
                    if (!(value1.equals(value2))) {
                        log.appendRaw(entryHandle, cur, 0, size, timestamp);
                        useValue1 = !useValue1;
                    }
                }
            };
        } else {
            var entry = StructLogEntry.create(log, "NT:" + entryName, struct);
            consumer = (timestamp) -> {
                var value = valueSupplier.get();
                if (value == null) {
                    return;
                }
                entry.append(value, timestamp);
            };
        }

        addField(
                entryName,
                level,
                consumer);
    }

    @Override
    public <R> void addStructArray(String entryName, Struct<R> struct, Supplier<R[]> valueSupplier, LogLevel level) {
        LongConsumer consumer;

        if (this.isLazy()) {
            var entryHandle = log.start("NT:" + entryName, struct.getTypeString()+"[]", "", 0);
            log.addSchema(struct, 0);
            int size = struct.getSize();
            consumer = new LongConsumer() {
                private ByteBuffer value1 = ByteBuffer.allocate(4 * size);
                private ByteBuffer value2 = ByteBuffer.allocate(4 * size);
                boolean useValue1 = true; 
                int lastLength = 0;
                @Override
                public void accept(long timestamp) {
                    var value = valueSupplier.get();
                    if (value == null) {
                        return;
                    }
                    ByteBuffer cur = useValue1 ? value1 : value2;
                    cur.position(0);
                    if ((value.length * size) > cur.capacity()) {
                      cur =
                          ByteBuffer.allocateDirect(value.length * size * 2)
                              .order(ByteOrder.LITTLE_ENDIAN);
                    }
                    for (R v : value) {
                      struct.pack(cur, v);
                    }
                    cur.position(0);
                    cur.limit(value.length * size);
                    // checks that the buffer segments written by the struct match.
                    // ByteBuffer equality looks at the content after the position and until the limit,
                    // so both positions need to be 0 at this point.
                    if (!(
                        lastLength == value.length &&
                        value1.equals(value2)
                    )) {
                        log.appendRaw(entryHandle, cur, 0, size, timestamp);
                        useValue1 = !useValue1;
                        lastLength = value.length;
                    }
                }
            };
        } else {
            var entry = StructArrayLogEntry.create(log, "NT:" + entryName, struct);
            consumer = (timestamp) -> {
                var value = valueSupplier.get();
                if (value == null) {
                    return;
                }
                entry.append(value, timestamp);
            };
        }

        addField(
                entryName,
                level,
                consumer);
    }

    @Override
    public <R> void putStruct(String entryName, Struct<R> struct, R value, LogLevel level) {
        if (level == LogLevel.NOT_FILE_ONLY && Monologue.isFileOnly()) {
            return;
        }
        if (value == null) {
            return;
        }

        StructLogEntry.create(log, "NT:" + entryName, struct).append(value);
    }

    @Override
    public <R> void putStructArray(String entryName, Struct<R> struct, R[] value, LogLevel level) {
        if (level == LogLevel.NOT_FILE_ONLY && Monologue.isFileOnly()) {
            return;
        }
        if (value == null) {
            return;
        }
        StructArrayLogEntry.create(log, "NT:" + entryName, struct).append(value);
    }

    @Override
    public boolean isNT() {
        return false;
    }
}