package monologue;

{%for t in geomTypes%} import edu.wpi.first.math.geometry.{{t.TypeName}}; {%endfor%}

public interface Logged {
  public default String getPath() {
    return "";
  }
  public default String getFullPath() {
    return Monologue.loggedRegistry.getOrDefault(this, "notfound");
  }
  {%for t in types%}
  public default void put(String key, {{t.java.ValueType}} value) {
    Monologue.dataLogger.put(getFullPath() + "/" + key, value);
    Monologue.ntLogger.put(getFullPath() + "/" + key, value);
  }
  {%endfor%}
  {%for t in geomTypes%}
  public default void put(String key, {{t.TypeName}} value) {
    Monologue.dataLogger.put(getFullPath() + "/" + key, value);
    Monologue.ntLogger.put(getFullPath() + "/" + key, value);
  }
  {%endfor%}
}
