package monologue;

import edu.wpi.first.util.struct.StructSerializable;

public interface Logged {
  public default String getPath() {
    return "";
  }
  public default String getFullPath() {
    return Monologue.loggedRegistry.getOrDefault(this, "notfound");
  }
{%for t in types%}
  public default void log(String key, {{t.java.ValueType}} value) {
    Monologue.ntLogger.put(getFullPath() + "/" + key, value);
  }
  public default void log(String key, {{t.java.ValueType}} value, LogLevel level) {
    Monologue.ntLogger.put(getFullPath() + "/" + key, value, level);
  }
{%endfor%}
  public default <R extends StructSerializable> void log(String key, R value) {
    Monologue.ntLogger.put(getFullPath() + "/" + key, value);
  }
  public default <R extends StructSerializable> void log(String key, R value, LogLevel level) {
    Monologue.ntLogger.put(getFullPath() + "/" + key, value, level);
  }

  public default <R extends StructSerializable> void log(String key, R[] value) {
    Monologue.ntLogger.put(getFullPath() + "/" + key, value);
  }
  public default <R extends StructSerializable> void log(String key, R[] value, LogLevel level) {
    Monologue.ntLogger.put(getFullPath() + "/" + key, value, level);
  }
}
