package monologue;

import edu.wpi.first.util.sendable.Sendable;
import edu.wpi.first.networktables.NetworkTable;
import edu.wpi.first.networktables.NetworkTableInstance;
import edu.wpi.first.networktables.NetworkTablesJNI;
import edu.wpi.first.wpilibj.DataLogManager;
import edu.wpi.first.util.struct.Struct;
import edu.wpi.first.util.struct.StructSerializable;

/**
 * The MonoDashboard class is a utility class that provides a simple way to use Monologue's
 * logging tooling from any part of your robot code. It provides a set of put methods that
 * allow you to log data to the NetworkTables and DataLog.
 * 
 * @see Monologue
 * @see LogLevel
 */
public class MonoDashboard {
  static String ROOT_PATH = "";

  static void setRootPath(String rootPath) {
    ROOT_PATH = NetworkTable.normalizeKey(rootPath, true);
  }
{%for t in types%}
  public static void put(String entryName, {{t.java.ValueType}} value) {
    put(entryName, value, LogLevel.DEFAULT);
  }
  public static void put(String entryName, {{t.java.ValueType}} value, LogLevel level) {
    entryName = NetworkTable.normalizeKey(entryName, true);
    if (!Monologue.isMonologueReady("MonoDashboard: " + entryName) || Monologue.isMonologueDisabled()) return;
    Monologue.ntLogger.put(entryName, value, level);

    // The Monologue made NT datalog subscriber only subs to stuff under ROOT_PATH
    // If this is sending data to a different path, we should also log it to the file
    if (!ROOT_PATH.isEmpty() && !entryName.startsWith(ROOT_PATH)) {
      if (!(level == LogLevel.DEFAULT && Monologue.isFileOnly())) {
        Monologue.dataLogger.put(entryName, value, level);
      }
    }
  }
{%endfor%}

  public static <R extends StructSerializable> void put(String entryName, R value) {
    put(entryName, value, LogLevel.DEFAULT);
  }
  public static <R extends StructSerializable> void put(String entryName, R value, LogLevel level) {
    entryName = NetworkTable.normalizeKey(entryName, true);
    if (!Monologue.isMonologueReady("MonoDashboard: " + entryName) || Monologue.isMonologueDisabled()) return;
    Monologue.ntLogger.put(entryName, value, level);

    // The Monologue made NT datalog subscriber only subs to stuff under ROOT_PATH
    // If this is sending data to a different path, we should also log it to the file
    if (!ROOT_PATH.isEmpty() && !entryName.startsWith(ROOT_PATH)) {
      if (!(level == LogLevel.DEFAULT && Monologue.isFileOnly())) {
        Monologue.dataLogger.put(entryName, value, level);
      }
    }
  }

  public static <R extends StructSerializable> void put(String entryName, R[] value) {
    put(entryName, value, LogLevel.DEFAULT);
  }
  public static <R extends StructSerializable> void put(String entryName, R[] value, LogLevel level) {
    entryName = NetworkTable.normalizeKey(entryName, true);
    if (!Monologue.isMonologueReady("MonoDashboard: " + entryName) || Monologue.isMonologueDisabled()) return;
    Monologue.ntLogger.put(entryName, value, level);

    // The Monologue made NT datalog subscriber only subs to stuff under ROOT_PATH
    // If this is sending data to a different path, we should also log it to the file
    if (!ROOT_PATH.isEmpty() && !entryName.startsWith(ROOT_PATH)) {
      if (!(level == LogLevel.DEFAULT && Monologue.isFileOnly())) {
        Monologue.dataLogger.put(entryName, value, level);
      }
    }
  }

  public <R> void put(String key, Struct<R> struct, R value) {
    put(key, struct, value, LogLevel.DEFAULT);
  }
  public <R> void put(String entryName, Struct<R> struct, R value, LogLevel level) {
    entryName = NetworkTable.normalizeKey(entryName, true);
    if (!Monologue.isMonologueReady("MonoDashboard: " + entryName) || Monologue.isMonologueDisabled()) return;
    Monologue.ntLogger.putStruct(entryName, struct, value, level);

    // The Monologue made NT datalog subscriber only subs to stuff under ROOT_PATH
    // If this is sending data to a different path, we should also log it to the file
    if (!ROOT_PATH.isEmpty() && !entryName.startsWith(ROOT_PATH)) {
      if (!(level == LogLevel.DEFAULT && Monologue.isFileOnly())) {
        Monologue.dataLogger.putStruct(entryName, struct, value, level);
      }
    }
  }

  public <R> void put(String key, Struct<R> struct, R[] value) {
    put(key, struct, value, LogLevel.DEFAULT);
  }
  public <R> void put(String entryName, Struct<R> struct, R[] value, LogLevel level) {
    entryName = NetworkTable.normalizeKey(entryName, true);
    if (!Monologue.isMonologueReady("MonoDashboard: " + entryName) || Monologue.isMonologueDisabled()) return;
    Monologue.ntLogger.putStructArray(entryName, struct, value, level);

    // The Monologue made NT datalog subscriber only subs to stuff under ROOT_PATH
    // If this is sending data to a different path, we should also log it to the file
    if (!ROOT_PATH.isEmpty() && !entryName.startsWith(ROOT_PATH)) {
      if (!(level == LogLevel.DEFAULT && Monologue.isFileOnly())) {
        Monologue.dataLogger.putStructArray(entryName, struct, value, level);
      }
    }
  }

  public <E extends Enum<?>> void put(String key, E value) {
    put(key, value, LogLevel.DEFAULT);
  }
  public <E extends Enum<?>> void put(String entryName, E value, LogLevel level) {
    entryName = NetworkTable.normalizeKey(entryName, true);
    if (!Monologue.isMonologueReady("MonoDashboard: " + entryName) || Monologue.isMonologueDisabled()) return;
    Monologue.ntLogger.put(entryName, value.name(), level);

    // The Monologue made NT datalog subscriber only subs to stuff under ROOT_PATH
    // If this is sending data to a different path, we should also log it to the file
    if (!ROOT_PATH.isEmpty() && !entryName.startsWith(ROOT_PATH)) {
      if (!(level == LogLevel.DEFAULT && Monologue.isFileOnly())) {
        Monologue.dataLogger.put(entryName, value.name(), level);
      }
    }
  }

  public <E extends Enum<?>> void put(String key, E[] value) {
    put(key, value, LogLevel.DEFAULT);
  }
  public <E extends Enum<?>> void put(String entryName, E[] value, LogLevel level) {
    entryName = NetworkTable.normalizeKey(entryName, true);
    if (!Monologue.isMonologueReady("MonoDashboard: " + entryName) || Monologue.isMonologueDisabled()) return;
    String[] names = new String[value.length];
    for (int i = 0; i < value.length; i++) {
      names[i] = value[i].name();
    }
    Monologue.ntLogger.put(entryName, names, level);

    // The Monologue made NT datalog subscriber only subs to stuff under ROOT_PATH
    // If this is sending data to a different path, we should also log it to the file
    if (!ROOT_PATH.isEmpty() && !entryName.startsWith(ROOT_PATH)) {
      if (!(level == LogLevel.DEFAULT && Monologue.isFileOnly())) {
        Monologue.dataLogger.put(entryName, names, level);
      }
    }
  }

  public static void publishSendable(String entryName, Sendable value) {
    entryName = NetworkTable.normalizeKey(entryName, true);
    if (!Monologue.isMonologueReady("MonoDashboard: " + entryName) || Monologue.isMonologueDisabled()) return;
    Monologue.ntLogger.addSendable(entryName, value);

    // The Monologue made NT datalog subscriber only subs to stuff under ROOT_PATH
    // If this is sending data to a different path, we should also log it to the file
    if (!ROOT_PATH.isEmpty() && !entryName.startsWith(ROOT_PATH)) {
      NetworkTablesJNI.startEntryDataLog(
        NetworkTableInstance.getDefault().getHandle(),
        DataLogManager.getLog(),
        entryName,
        Monologue.dataLogger.prefix + entryName
      );
    }
  }
}
