package monologue;


import edu.wpi.first.networktables.NetworkTableInstance;
import edu.wpi.first.networktables.*;
import edu.wpi.first.util.struct.Struct;
import edu.wpi.first.util.WPIUtilJNI;
import edu.wpi.first.util.sendable.Sendable;
import edu.wpi.first.wpilibj.DataLogManager;
import edu.wpi.first.wpilibj.smartdashboard.SendableBuilderImpl;

import java.util.Arrays;
import java.util.HashMap;
import java.util.Map;
import java.util.function.LongConsumer;
import java.util.function.Supplier;

class NTLogger extends GenericLogger {
    public NTLogger() {super();}

    private final NetworkTableInstance table = NetworkTableInstance.getDefault();

    private final Map<String, Integer> published = new HashMap<>();
    private final Map<String, Topic> topics = new HashMap<>();
    private final Map<String, StructEntry<?>> structEntrys = new HashMap<>();
    private final Map<String, StructArrayEntry<?>> structArrayEntrys = new HashMap<>();

    {%for t in types%}
    @Override
    public void put(String entryName, {{t.java.ValueType}} value, LogLevel level) {
        {%if t.java.ValueType == 'String'%}
        if (value == null) {return;}
        {%endif%}
        {%if t.java.IsArray%}
        if (value == null) {return;}
        {%endif%}
        if (level == LogLevel.NOT_FILE_ONLY && Monologue.isFileOnly()) {
            if (published.containsKey(entryName) && topics.containsKey(entryName)) {
                NetworkTablesJNI.unpublish(
                    published.remove(entryName)
                );
            }
            return;
        } else if (level == LogLevel.DEFAULT && Monologue.isFileOnly()) {
            Monologue.dataLogger.put(entryName, value, level);
            if (published.containsKey(entryName) && topics.containsKey(entryName)) {
                NetworkTablesJNI.unpublish(
                    published.remove(entryName)
                );
            }
            return;
        }

        if (!topics.containsKey(entryName)) {
            var topic = table.get{{t.java.EntryName}}Topic(entryName);
{%if t.TypeName == 'Raw'%}
            var publisher = topic.publish("raw");
{%else%}
            var publisher = topic.publish();
{%endif%}
            published.put(entryName, publisher.getHandle());
            topics.put(entryName, topic);
        }

        if (!published.containsKey(entryName)) {
{%if t.TypeName == 'Raw'%}
            published.put(entryName, (({{t.java.EntryName}}Topic) topics.get(entryName)).publish("raw").getHandle());
{%else%}
            published.put(entryName, (({{t.java.EntryName}}Topic) topics.get(entryName)).publish().getHandle());
{%endif%}
        }
{%if t.TypeName == 'IntegerArray'%}
        NetworkTablesJNI.set{{t.java.EntryName}}(published.get(entryName), WPIUtilJNI.now(), toLongArray(value));
{%else%}
        NetworkTablesJNI.set{{t.java.EntryName}}(published.get(entryName), WPIUtilJNI.now(), value);
{%endif%}
    }

    @Override
    public void add{{t.TypeName}}(String entryName, {{t.java.Supplier}} valueSupplier, LogLevel level) {
        var topic = table.get{{t.java.EntryName}}Topic(entryName);
{%if t.TypeName == 'Raw'%}
        var entry = topic.getEntry("raw", {{t.java.EmptyValue}});
{%elif t.TypeName == 'IntegerArray'%}
        var entry = topic.getEntry(new long[] {});
{%else%}
        var entry = topic.getEntry({{t.java.EmptyValue}});
{%endif%}
        LongConsumer consumer;
{%if t.TypeName == 'IntegerArray'%}
        consumer = (timestamp) -> {
            var value = valueSupplier.get();
            if (value == null) { return;}
            entry.set(toLongArray(value), timestamp);
        };

        addField(
            entryName,
            level,
            consumer,
            () -> {
                var value = valueSupplier.get();
                if (value == null) { return;}
                entry.set(toLongArray(value));
            },
            entry::unpublish
        );
{%elif t.java.IsArray == true%}
        if (this.isLazy()) {
            consumer = new LongConsumer() {
                private {{t.java.ValueType}} lastValue = new {{t.java.ValueType}} {};
                @Override
                public void accept(long timestamp) {
                    var value = valueSupplier.get();
                    if (value == null) { return;}
                    {%if t.TypeName == 'StringArray'%}
                    if (!(Arrays.deepEquals(value, lastValue))) {
                    {%else%}
                    if (!(Arrays.equals(value, lastValue))) {
                    {%endif%}
                        entry.set(value, timestamp);
                        lastValue = value;
                    }
                }
            };
        } else {
            consumer = (timestamp) -> {
                var value = valueSupplier.get();
                if (value != null) {
                    entry.set(value, timestamp);
                }
            };
        }

        addField(
            entryName,
            level,
            consumer,
            () -> {
                var value = valueSupplier.get();
                if (value == null) { return;}
                entry.set(value);
            },
            entry::unpublish
        );
{%else%}
        if (this.isLazy()) {
            consumer = new LongConsumer() {
                private {{t.java.ValueType}} lastValue = {{t.java.EmptyValue}};
                @Override
                public void accept(long timestamp) {
                    
                    var value = valueSupplier.get();
                    if (value == null) { return; }
                    if (value != lastValue) {
                        entry.set(value, timestamp);
                        lastValue = value;
                    }
                }
            };
        } else {
            consumer = (timestamp) -> {
                var value = valueSupplier.get();
                if (value == null) { return; }
                entry.set(value, timestamp);
            };
        }

        addField(
            entryName,
            level,
            consumer,
            () -> {
                var value = valueSupplier.get();
                if (value == null) { return;}
                entry.set(value);
            },
            entry::unpublish
        );
{%endif%}
    }
{%endfor%}

    @Override
    public <R> void addStruct(String entryName, Struct<R> struct, Supplier<? extends R> valueSupplier, LogLevel level) {
        var topic = table.getStructTopic(entryName, struct);
        var publisher = topic.publish();

        LongConsumer consumer;
        consumer = (timestamp) -> {
            var value = valueSupplier.get();
            if (value == null) { return;}
            publisher.set(value, timestamp);
        };

        addField(
            entryName,
            level,
            consumer,
            () -> {
                var value = valueSupplier.get();
                if (value == null) { return;}
                publisher.set(value);
            },
            ()->NetworkTablesJNI.unpublish(publisher.getHandle())
        );
    }

    @Override
    public <R> void addStructArray(String entryName, Struct<R> struct, Supplier<R[]> valueSupplier, LogLevel level) {
        var topic = table.getStructArrayTopic(entryName, struct);
        var publisher = topic.publish();

        LongConsumer consumer;

        consumer = (timestamp) -> {
            var value = valueSupplier.get();
            if (value == null) {return;}
            publisher.set(value, timestamp);
        };

        addField(
            entryName,
            level,
            consumer,
            () -> {
                var value = valueSupplier.get();
                if (value == null) {return;}
                publisher.set(value);
            },
            ()->NetworkTablesJNI.unpublish(publisher.getHandle())
        );
    }

    @Override
    @SuppressWarnings("unchecked")
    public <R> void putStruct(String entryName, Struct<R> struct, R value, LogLevel level) {
        if (value == null) {return;}
        if (level == LogLevel.NOT_FILE_ONLY && Monologue.isFileOnly()) {
            if (published.containsKey(entryName) && topics.containsKey(entryName) && structEntrys.containsKey(entryName)) {
                ((StructEntry<R>) structEntrys.remove(entryName)).unpublish();
                NetworkTablesJNI.unpublish(published.remove(entryName));
            }
            return;
        } else if (level == LogLevel.DEFAULT && Monologue.isFileOnly()) {
            Monologue.dataLogger.putStruct(entryName, struct, value);
            if (published.containsKey(entryName) && topics.containsKey(entryName) && structEntrys.containsKey(entryName)) {
                ((StructEntry<R>) structEntrys.remove(entryName)).unpublish();
                NetworkTablesJNI.unpublish(published.remove(entryName));
            }
            return;
        }

        if (!topics.containsKey(entryName)) {
            var topic = table.getStructTopic(entryName, struct);
            var publisher = topic.publish();
            published.put(entryName, publisher.getHandle());
            topics.put(entryName, topic);
        }

        if (!published.containsKey(entryName)) {
            published.put(entryName, ((StructTopic<R>) topics.get(entryName)).publish().getHandle());
        }

        if (!structEntrys.containsKey(entryName)) {
            var entry = ((StructTopic<R>) topics.get(entryName)).getEntry(null);
            entry.set(value);
            structEntrys.put(entryName, entry);
        } else {
            ((StructEntry<R>) structEntrys.get(entryName)).set(value);
        }
    }

    @Override
    @SuppressWarnings("unchecked")
    public <R> void putStructArray(String entryName, Struct<R> struct, R[] value, LogLevel level) {
        if (value == null) {return;}
        if (level == LogLevel.NOT_FILE_ONLY && Monologue.isFileOnly()) {
            if (published.containsKey(entryName) && topics.containsKey(entryName) && structArrayEntrys.containsKey(entryName)) {
                ((StructArrayEntry<R>) structArrayEntrys.remove(entryName)).unpublish();
                NetworkTablesJNI.unpublish(published.remove(entryName));
            }
            return;
        } else if (level == LogLevel.DEFAULT && Monologue.isFileOnly()) {
            Monologue.dataLogger.putStructArray(entryName, struct, value);
            if (published.containsKey(entryName) && topics.containsKey(entryName) && structArrayEntrys.containsKey(entryName)) {
                ((StructArrayEntry<R>) structArrayEntrys.remove(entryName)).unpublish();
                NetworkTablesJNI.unpublish(published.remove(entryName));
            }
            return;
        }

        if (!topics.containsKey(entryName)) {
            var topic = table.getStructArrayTopic(entryName, struct);
            var publisher = topic.publish();
            published.put(entryName, publisher.getHandle());
            topics.put(entryName, topic);
        }

        if (!published.containsKey(entryName)) {
            published.put(entryName, ((StructArrayTopic<R>) topics.get(entryName)).publish().getHandle());
        }

        if (!structArrayEntrys.containsKey(entryName)) {
            var entry = ((StructArrayTopic<R>) topics.get(entryName)).getEntry(null);
            entry.set(value);
            structArrayEntrys.put(entryName, entry);
        } else {
            ((StructArrayEntry<R>) structArrayEntrys.get(entryName)).set(value);
        }
    }

    @Override
    public void addSendable(String path, Sendable sendable) {   
        if (sendable == null) {return;}     
        var builder = new SendableBuilderImpl();
        builder.setTable(table.getTable(path));
        sendable.initSendable(builder);
        builder.startListeners();
        table.getTable(path).getEntry(".controllable").setBoolean(false);
        sendables.add(builder);
        NetworkTablesJNI.startEntryDataLog(NetworkTableInstance.getDefault().getHandle(), DataLogManager.getLog(), path, path);
    }

    @Override
    public boolean isNT() {
        return true;
    }
}